h1.cadastro{
	margin-left: 45%;
}

body.fundo{
	background-color: #EEE9E9;
}

div.container p{
	font-size: 80px;
	text-align: center;
	margin-top: 30%
	
}
nav.navbar{
	background-color:#A020F0;
}
div.card{
	margin-left: 180px;
}
div.card-text{
	font-size: 15px;

	 
}
body.home{
	background-color: #EEE9E9;
}
.nav-link{
	color: black;
}
h3.tituloaneis{
	font-size: 35px;
	color: #D02090;
	text-align: center;
}
img.aneisfio{
	margin-left: 5px;
}

